.online {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
}

.offline {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  text-align: center;
}
.item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: baseline;
  background-color: rgb(234, 225, 49);
  border-radius: 4px;
  padding: 5px;
}
